#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

text {
  font: bold 48px monospace;
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}

.exit {
  fill: brown;
}